root = true

[*]
end_of_line = crlf
charset = utf-8
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown
#
# A paragraph consists of one or more consecutive lines of text, separated by
# one or more blank lines. A blank line is defined as any line that appears
# empty; it may contain only spaces or tabs. Normal paragraphs should not begin
# with spaces or tabs for indentation.
#
# The rule of "one or more consecutive lines of text" means that Markdown
# supports "hard-wrapped" text paragraphs. This is notably different from many
# other text-to-HTML converters, such as Movable Type's "Convert Line Breaks"
# option, which converts every line break within a paragraph into a <br /> tag.
#
# If you need to insert a <br /> tag for a line break, end the line with two or
# more spaces and then press return. Note that editors must be told to preserve
# "trailing whitespace" to maintain this formatting.
#
[*.{[Mm][Dd],[Mm][Kk][Dd],[Mm][Dd][Oo][Ww][Nn],[Mm][Kk][Dd][Oo][Ww][Nn],[Mm][Aa][Rr][Kk][Dd][Oo][Ww][Nn]}]
trim_trailing_whitespace = false
