[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "deps/json11"]
	path = deps/json11
	url = https://github.com/dropbox/json11.git
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "deps/pdcurses"]
	path = deps/pdcurses
	url = git://git.code.sf.net/p/pdcurses/code
[submodule "deps/libtomcrypt"]
	path = deps/libtomcrypt
	url = https://github.com/libtom/libtomcrypt
