[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
	branch = develop
[submodule "deps/json11"]
	path = deps/json11
	url = https://github.com/dropbox/json11.git
	branch = master
[submodule "deps/libtommath"]
	path = deps/libtommath
	url = https://github.com/libtom/libtommath.git
	branch = develop
[submodule "deps/libtomcrypt"]
	path = deps/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
	branch = develop
[submodule "deps/pdcurses"]
	path = deps/pdcurses
	url = https://github.com/wmcbrine/PDCurses.git
	branch = master
[submodule "deps/mongoose"]
	path = deps/mongoose
	url = https://github.com/cesanta/mongoose.git
	branch = master
[submodule "deps/bitmrc"]
	path = deps/bitmrc
	url = git@github.com:iw4x-dev-urandom/BitMRC.git
	branch = master
	fetchRecurseSubmodules = true
[submodule "deps/base128"]
	path = deps/base128
	url = https://github.com/seizu/base128.git
	branch = master
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/google/protobuf.git
	branch = master
[submodule "deps/WinToast"]
	path = deps/WinToast
	url = https://github.com/mohabouje/WinToast.git
[submodule "deps/udis86"]
	path = deps/udis86
	url = git@github.com:iw4x/udis86.git
